<%-include('partials/header')%>
<div class="container-fluid">
    <h1>Medication</h1>
    <a href="/registerMedication"><button> Register</button></a>
<a href="/medicationOverview"><button>Overview</button></a>

</div>



<%-include('partials/footer')%>
