<%-include('partials/header')%>
<h1>Medication</h1>

<button> <a href="/registerMedication">Register</a></button>
<button><a href="/medicationOverview">Overview</a></button>

<%-include('partials/footer')%>
